<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account Management</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <main class="account-management-main">
    <h1>Account Management</h1>
    <%- messages() %>
    
    <% if (accountData) { %>
      <h2>Welcome <%= accountData.account_firstname %></h2>
      <a href="/account/update/<%= accountData.account_id %>">Update Account Information</a>
      <% if (accountData.account_type === "Employee" || accountData.account_type === "Admin") { %>
        <h3>Inventory Management</h3>
        <p>
          <a href="/inv/management">Go to Inventory Management</a>
        </p>
      <% } %>
    <% } %>

  </main>
</body>
</html>