<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %> 

<% if (typeof messages === "function" && messages().trim()) { %>
  <div class="flash-message"><%- messages() %></div>
<% } %>

<%# messages() %>

<%- grid %>